In [1]:
import pandas as pd

In [10]:
data2 = pd.read_excel('data2.xlsx')#读入数据，附件2
data2 = data2.iloc[30:,]
data2 = data2.reset_index(drop=True)
data2

,说明：表中数据标幺值以相应的风/光额定装机容量为基准,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,00:00:00,0,230.1,0,73.2,73.2,303.3,818,514.7
1,01:00:00,0,382.8,0,108.75,108.75,491.55,820,328.45
2,02:00:00,0,296.8,0,197.95,197.95,494.75,913,418.25
3,03:00:00,0,444.4,0,91.55,91.55,535.95,918,382.05
4,04:00:00,0,502.9,0,235.8,235.8,738.7,871,132.3
5,05:00:00,0,360.9,0,310.75,310.75,671.65,815,143.35
6,06:00:00,0,240.2,0,147.3,147.3,387.5,883,495.5
7,07:00:00,4.35,47.3,6.3,60.7,67,118.65,957,838.35
8,08:00:00,226.95,153.8,196.8,12.5,209.3,590.05,931,340.95
9,09:00:00,451.5,106.8,378.84,151.15,529.99,1088.29,879,-209.29
10,10:00:00,578.325,51.8,476.16,9.8,485.96,1116.085,1047,-69.085
11,11:00:00,641.625,216.9,535.5,61.2,596.7,1455.225,1100,-355.225
12,12:00:00,639.825,354.6,539.94,166.75,706.69,1701.115,1253,-448.115
13,13:00:00,588.15,219.4,493.26,132.65,625.91,1433.46,1278,-155.46
14,14:00:00,482.775,111,400.02,61,461.02,1054.795,1248,193.205
15,15:00:00,318.15,218.6,256.5,81.65,338.15,874.9,1328,453.1
16,16:00:00,46.425,377.9,12.96,132.25,145.21,569.535,963,393.465
17,17:00:00,0,342.1,0,170.4,170.4,512.5,915,402.5
18,18:00:00,0,500.8,0,159.15,159.15,659.95,1084,424.05
19,19:00:00,0,464.6,0,164.95,164.95,629.55,814,184.45
20,20:00:00,0,219.7,0,85.15,85.15,304.85,844,539.15
21,21:00:00,0,178.3,0,82.75,82.75,261.05,954,692.95
22,22:00:00,0,153.5,0,94.85,94.85,248.35,864,615.65
23,23:00:00,0,0,0,116.15,116.15,116.15,890,773.85

In [28]:
LightProduce = data2.loc[:,['Unnamed: 1', 'Unnamed: 3']].values.tolist()
WindProduce = data2.loc[:,['Unnamed: 2', 'Unnamed: 4']].values.tolist()
TotalLoad = data2.loc[:,['Unnamed: 7']].values.tolist()

In [ ]:
LightProduce

In [ ]:
WindProduce

In [ ]:
TotalLoad

In [ ]:
A = 0
B = 0
Main_Function = (1+A)*WindProduce+(1+B)*LightProduce
Loss_Function = (TotalLoad-Main_Function)

#完成梯度下降，以LightProduce盒WindProduce是二维数组，TotalLoad是一维数组

In [ ]:
#Remain Settle GD